.divSBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-label {
    display: flex;
    align-items: center;
    gap: 10px;
   
}

.search-input {
    margin-top: 10px;
    padding: 5px;
    width: 200px;
    
}
.labelRadio{
    display: flex;
    flex-direction: row;
    gap: 10px;
}